<ion-header [translucent]="true">
  <ion-toolbar color="light">
    <ion-title>
      Auditoria
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <swiper-container>
    
    <swiper-slide>
      <ion-card>
        <img alt="Silhouette of mountains" src="https://cbissn.ibict.br/images/phocagallery/galeria2/thumbs/phoca_thumb_l_image03_grd.png" />
        <ion-card-header>
          <ion-card-title>Card Title</ion-card-title>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          Here's a small text description for the card content. Nothing more, nothing less.
        </ion-card-content>
      </ion-card>
    </swiper-slide>

    <swiper-slide>
      <ion-card>
        <img alt="Silhouette of mountains" src="https://cbissn.ibict.br/images/phocagallery/galeria2/thumbs/phoca_thumb_l_image03_grd.png" />
        <ion-card-header>
          <ion-card-title>Card Title</ion-card-title>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          Here's a small text description for the card content. Nothing more, nothing less.
        </ion-card-content>
      </ion-card>
    </swiper-slide>

    <swiper-slide>
      <ion-card>
        <img alt="Silhouette of mountains" src="https://cbissn.ibict.br/images/phocagallery/galeria2/thumbs/phoca_thumb_l_image03_grd.png" />
        <ion-card-header>
          <ion-card-title>Card Title</ion-card-title>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          Here's a small text description for the card content. Nothing more, nothing less.
        </ion-card-content>
      </ion-card>
    </swiper-slide>

  </swiper-container>
  
  

  <ion-card>
    <ion-item>
      <ion-icon name="location-outline" slot="start"></ion-icon>
      <ion-label>Endereço</ion-label>
      <ion-button fill="outline" href="https://www.google.com/maps/dir/-7.1134183,-34.8527587/Avenida+Esp%C3%ADrito+Santo,+883+-+Sala+1+-+Estados,+Jo%C3%A3o+Pessoa+-+Para%C3%ADba,+58030-110/@-7.1138757,-34.8541717,18.1z/data=!4m8!4m7!1m0!1m5!1m1!1s0x7acddd15766e513:0x2fa43333c2a53244!2m2!1d-34.8527641!2d-7.1134278?entry=ttu"
        target="_blank">Ver mapa
      </ion-button>
    </ion-item>
    <ion-card-content>
      Melhor sistema de gestão para clínicas e hospitais.
    </ion-card-content>
  </ion-card>

</ion-content>
